/***** loader ******/
.loading:before {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff url("@/assets/images/loader.gif") no-repeat center;
}
/***** loader ******/